include includes/header.pug
div(class="container")
  h1= data.firstname + ' ' + data.lastname + '\'s Personal Page'
  div(class="row")
    div(class="col-sm-12")
      h2= data.firstname + ' ' + data.lastname
   
include includes/footer.pug
